.App {
  text-align: center;
  height: 800px;
  font-family: 'Courier New', Courier, monospace;
}

#map {
  margin: 10px;
  margin-top: 20px;
  height: 50%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  font-size: 50px;
}

#bmxlogo {
  margin: 10px;
  margin-bottom: 15px;
  height: 35px;
  width: 35px;
}

.nav1 {

}

.btn {
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  background-color: white;
  color: blue;
}
